@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Giga", serif;
  line-height: 1;
}

.hero-contnet{
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 18%, rgba(9, 109, 121, 0.9640231092436975) 52%, rgba(63, 7, 89, 1) 81%, rgba(84, 9, 119, 1) 100%);
  background-size: 400% 400%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.logo img {
  width: 50px;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: rgba(96, 46, 233, 0.8);
}

.menu ul li.btn a {
  padding: 10px 20px;
  border: 1px solid rgba(96, 46, 233, 0.8);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
}
.menu ul li.btn a:hover {
  background-color: rgba(96, 46, 233, 0.8);
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
  margin: 150px 0;
}
.hero-content h3 {
  font-size: 38px;
  font-weight: 600;
  color: #fffff0;
}
.hero-content h1 {
  font-size: 70px;
  color: rgba(96, 46, 233, 0.8);
}
.hero-content p {
  font-size: 18px;
  font-weight: 400;
  color: #fffff0;
  line-height: 1.8;
  
}
ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}

.social-btn ul li {
  margin-top: 40px;
}

.hero-content ul li .btn{
  padding: 10px 20px;
  border: 1px solid rgba(96, 46, 233, 0.8);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.hero-content ul li .btn:hover {
  background-color: rgba(96, 46, 233, 0.8);
}
.hero-content li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #fffff0;
}

.image-container img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid rgba(96, 46, 233, 0.8);
  box-shadow: rgb(112, 39, 146) 0px 30px 50px -10px;
}
.image-container img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

}


.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.info-box {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: #fffff0;
}
.info-box span {
  font-size: 20px;
  font-weight: 600;
}
.info-box .highligt {
  color: rgba(220, 209, 248, 0.8);
  font-size: 30px;
  font-weight: 600;
} 
